{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div id="dashboard" class="container mt-24 mx-auto px-4">
        <div id="create-modal" style="visibility: hidden" v-if="isOpen" @keydown.esc="isOpen = false" @blur="isOpen = false">
            {% include 'components/buckets/create_modal.html' %}
        </div>
        <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4">
            {% for bucket in buckets %}
                <div @click="copyUrl('{% url 'buckets:bucket' bucket.id %}', $event)" class="w-full bg-white shadow-md xl:shadow-lg border border-gray-300 h-24 rounded-3xl cursor-pointer transform duration-300 hover:shadow-xl">
                    <div class="flex items-center justify-between h-full w-full">
                        <a id="bucket-redirect-{{ forloop.counter }}" href="{% url 'buckets:bucket' bucket.id %}" class="ml-2 rounded-full h-16 w-16 flex items-center justify-center transform duration-200 bg-gray-200 text-gray-700 hover:bg-gray-300">
                            <i id="bucket-redirect-i-{{ forloop.counter }}" class="fas fa-cloud-upload-alt"></i>
                        </a>
                        <div class="flex flex-col flex-1 ml-2">
                            <h2 class="text-lg font-semibold text-gray-800">{{ bucket.name.capitalize }}</h2>
                            <h4 class="text-sm text-gray-700">{{ bucket.short_description.capitalize }} • {{ bucket.updated_at|date:"d.m.Y" }}</h4>
                        </div>
                        {% if bucket.has_password %}
                        <div class="ml-2 mr-2 rounded-full h-8 w-8 flex items-center justify-center bg-red-200 text-gray-700">
                            <i class="fas fa-lock"></i>
                        </div>
                        {% else %}
                        <div class="ml-2 mr-2 rounded-full h-8 w-8 flex items-center justify-center bg-green-200 text-gray-700">
                            <i class="fas fa-unlock"></i>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div @click="isOpen = true" class="w-full bg-white shadow-md xl:shadow-lg border border-gray-300 h-24 rounded-3xl cursor-pointer transform duration-300 hover:shadow-xl">
                <div class="flex flex-col flex-wrap justify-center self-center h-full items-center">
                    <span class="text-5xl text-gray-700 transform duration-300 hover:text-gray-900"><i class="fas fa-plus"></i></span>
                    <span class="text-xs mt-2 font-semibold text-gray-700">Create new bucket</span>
                </div>
            </div>
            {% if buckets.count == 1 %}
                <div class="w-full border-dashed border-gray-400 border-2 h-24 rounded-3xl"></div>
            {% elif buckets.count == 0 %}
                <div class="w-full border-dashed border-gray-400 border-2 h-24 rounded-3xl"></div>
                <div class="w-full border-dashed border-gray-400 border-2 h-24 rounded-3xl"></div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extrascripts %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="application/javascript">
      const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 2000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer)
        toast.addEventListener('mouseleave', Swal.resumeTimer)
      }
    });

    setTimeout(() => {
        document.getElementById('create-modal').style.visibility = 'visible';
         var app = new Vue({
          delimiters: ['[[', ']]'],
          el: '#dashboard',
          data: {
              isOpen: false,
              hasPassword: true,
              password: '',
          },
          computed: {
              passwordComputed: {
                  get: function() {
                      return this.hasPassword ? this.password : ''
                  },
                  set: function (newPassword) {
                      this.password = newPassword
                  }
              }
          },
          created: function() {},
          methods: {
              copyUrl(url, event) {
                  if (String(event.target.id).includes('bucket-redirect')) {
                      console.log(event.target.id)
                  } else {
                      url = `127.0.0.1:8000${url}`;
                      const el = document.createElement('textarea');
                      el.value = url;
                      el.setAttribute('readonly', '');
                      el.style.position = 'absolute';
                      el.style.left = '-9999px';
                      document.body.appendChild(el);
                      const selected =  document.getSelection().rangeCount > 0  ? document.getSelection().getRangeAt(0) : false;
                      el.select();
                      document.execCommand('copy');
                      document.body.removeChild(el);
                      if (selected) {
                        document.getSelection().removeAllRanges();
                       document.getSelection().addRange(selected);
                      };
                      Toast.fire({
                        icon: 'success',
                        title: 'Copied Bucket URL'
                      });
                  }

              }
          }
    });
    }, 200);
  </script>
{% endblock extrascripts %}